
* {
   box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li, figure, figcaption {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   background-color: #F0F4F8;
   font-weight: 300;
}

/* add styles here */
/* NAVIGATION BAR */
#topbar ul {
   display: flex;
   justify-content: center;
   list-style: none;
   background-color: #222;
}

#topbar li a {
   display: block;
   padding: 15px 20px;
   color: white;
   text-decoration: none;
   font-weight: 600;
}

#topbar li a:hover {
   background-color: #444;
}
